/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


@import "tailwindcss";
@tailwind base; 
@tailwind components; 
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


/*Icons*/
@import '@fortawesome/fontawesome-free/css/all.min.css';


/*Navbar*/
/*Navbar image*/
.navbar-img{
    width: auto;
  max-width: 200px;
  height: auto;
  display: block;
  box-shadow: 10px 5px 5px #ea8a8a;
}

/*Navbar-links*/
.navbar-typo{
  font-family: "Mona Sans", sans-serif;
}

.coffee-font{
    font-family: "Rochester", cursive;
}

